{"filter":false,"title":".gitconfig","tooltip":"~/.gitconfig","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1715144857085,"hash":"dfef504a9a6fa2ebad2d0f8615c313cc6eb57447"}